**.idea/
**.DS_Store
**.pyc
**.npz
**.xlsx
**.csv
**.gz
**.ipynb_checkpoints
.vscode/
/.venv/*
/.venv
**/__pycache__
.build/*
build/*

**/*.pem
**/*.txt
**/*.json
**/*.gz

/build/
/dist/
/*.egg*
*.jpg

poetry.lock